        * {
            margin: 0;
            padding: 0;
            font-family: sans-serif;
        }
        
        .hero {
            height: 100%;
            width: 100%;
            background-image: url(./design1.svg);
            background-position: center;
            background-size: cover;
            position: absolute;
        }
        
        .form-box {
            width: 380px;
            height: 380px;
            position: relative;
            margin: 6% auto;
            background: white;
            padding: 5px;
            box-shadow: 20px 35px black;
            overflow: hidden;
        }
        
        .button-box {
            width: 220px;
            margin: 35px auto;
            position: relative;
            box-shadow: 0 0 20px 9px #ff61241f;
            border-radius: 30px;
        }
        
        .toggle-btn {
            padding: 10px 30px;
            cursor: pointer;
            background: transparent;
            border: 0;
            outline: none;
            position: relative;
        }
        
        .btn {
            top: 0;
            left: 0;
            position: absolute;
            width: 110px;
            height: 100%;
            border-radius: 30px;
            transition: 0.5s;
            background: #FF4365;
        }
        
        .input-group {
            top: 180px;
            position: absolute;
            width: 280px;
            transition: .5s;
        }
        
        .input-field {
            width: 100%;
            padding: 10px 0px;
            margin: 5px 0px;
            border-left: 0px;
            border-right: 0px;
            border-top: 0px;
            border-bottom: 1px solid #999;
            outline: none;
            background: transparent;
        }
        
        .submit-btn {
            width: 85%;
            padding: 10px 30px;
            cursor: pointer;
            display: block;
            margin-top: 10px;
            background: #FF4365;
            border: 0;
            border-radius: 30px;
        }
        
        #login {
            left: 50px;
        }
        
        #register {
            left: 450px;
        }
        
        .heading {
            margin: 30px;
        }